.single {
  .post {
    box-shadow: none;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    img {
      border-radius: 0;
    }
  }
  .main {
    padding-right: 0;

    .featured-image img {
      display: inline-block;
      height: auto;
      width: 100%;
    }

    header {
      h3 {
        color: $brand-text;
      }
      p {
        color: $brand-primary;
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 14px;
      }
      .fa {
        padding-right: 5px;
      }
    }

    .entry-content {
      p {
        color: $brand-text;
        line-height: 30px;
        font-size: 15px;
        font-weight: 400;
      }
    }

    header, .entry-content {
      padding-right: 15px;
    }
  }
}

.winthrop-medical-practice {
  #map {
    height: 200px;
    width: 100%;
    background-color: $light-gray;
  }
  .main {
    .page-header {
      background-color: $brand-dark;
      border-bottom: none;
      margin: 0;
      padding: 1px 15px 15px 15px;
      h3 {
        color: $white;
      }
      h4 {
        color: $brand-text;
      }
      p, a {
        color: $white;
        display: inline-block;
      }
      .phone-number {
        float: right;
        font-size: 18px;
        position: relative;
          bottom: 35px;

        a {
          text-decoration: underline;
        }
      }
    }
    .entry-content {
      line-height: 30px;
      padding: 15px 0;
      ul {
        list-style-type: none;
        padding-left: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .privacy-policy, .privacy-policy-espanol {
    .affix {
      margin-bottom: 100px;
      width: 380px;
    }
  }
}
@media (max-width: 1200px) {
  .privacy-policy, .privacy-policy-espanol {
    .affix {
      margin-bottom: 100px;
      width: 28%;
    }
  }
}
