.search-panel {
  #map {
    height: 300px;
    width: 100%;
  }
  .nav-tabs {
    border-bottom: none;
    li {
      a {
        border: none;
        border-radius: 0;
        color: $brand-text;

        margin-right: 15px;
        padding: 10px 40px;

        &:hover, &:focus {
          background-color: #D4D9DC;
        }
      }
    }
    li.active>a, li.active>a:focus, li.active>a:hover {
      background-color: $light-gray;
      color: $brand-text;
    }
  }
  .tab-content {
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
    .tab-pane {
      .search {
        background-color: $light-gray;
        color: $brand-text;
        font-size: 16px;
        padding: 25px 15px 15px 15px;
        .specialty {
          padding-top: 15px;
        }
        p {
          display: inline-block;
        }
        form {
          display: inline-block;
        }
        .form-control {
          display: inline-block;
          margin-left: 15px;
          position: relative;
            bottom: 3px;
        }
        .search-all{
          bottom: 1px;
          display: inline-block;
        }
        .search-all, .specialties {
          margin-right: 15px;
        }
        .search-all {
          width: 731px;
        }
        .specialties {
          width: 600px;
        }


        .fa-pulse {
          float: right;
          font-size: 22px;
          position: relative;
            top: 4px;
        }
      }
    }
    .results {
      border: solid 2px $light-gray;
      border-top: none;
      color: $brand-dark;
      padding: 0 15px;

      .results-count {
        padding-top: 15px;
        font-weight: 600;
        margin-bottom: 0;
      }

      .wma-pagination {
        padding-bottom: 15px;
        width: 100%;
        .paginationjs {
          .paginationjs-pages {
            float: none;
            text-align: center;
            ul {
              display: inline-block;
              float: none
            }
          }
        }
      }
      .pagination {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
          float: left;
          height: 200px;
        }


        img {
          float: left;
          padding-right: 15px;
        }
      }
      .padding  {
        padding-top: 35px;
      }
      p.address {
        font-size: 14px;
      }
      a.name {
        color: $brand-text !important;
        font-size: 18px;
        font-weight: 400;
        &:after {
          content: "\f08e";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          padding-left: 10px;
          text-decoration: inherit;
        }
      }
      a.phone {
        color: $brand-text !important;
        text-decoration: underline;
      }

    }
  }
}

@media (max-width: 1200px) {
  .search-panel {
    .tab-content {
      .tab-pane {
        .search {
          .search-all {
            width: 531px;
          }

          .specialties {
            width: 400px;
          }

        }
      }
    }
  }
}

@media (max-width: 991px) {
  .search-panel {
    .tab-content {
      .tab-pane {
        .search {
          .search-all {
            margin-left: 0;
            width: 646px;
          }

          .specialties {
            width: 400px;
          }

          .fa-pulse {
            margin-top: 10px;
          }
        }
      }
    }
  }
}