.sidebar {
  background-color: $brand-dark;
  height: 100vh;
  min-height: 100vh;
  h1, h2, h3, h4, h5, ul, p, a {
    color: $white;
  }

  .recent_with_excerpt {
    h3:first-child {
      font-size: 20px;
      margin-left: 10px;
      text-transform: uppercase;
      &:before {
        content: '\f03a';
        border: solid 1px $white;
        border-radius: 100%;
        font-family: FontAwesome;
        font-size: 15px;
        padding: 8px;
        position: relative;
        bottom: 3px;
        margin-right: 10px;
      }
    }
    ul {
      list-style: none;
      margin-left: 15px;
      li {
        &:before {
          content: "\f111";
          font-family: FontAwesome;
          font-size: 10px;
          display: inline-block;
          margin-left: -32px;
          position: relative;
            top: 27px;
          width: 1.3em;
        }
        h2 {
          margin: 0 0 15px 0;
          position: relative;
          top: 3px;
          line-height: 0.7em;
          a {
            font-size: 18px;
          }
        }
        p {
          font-size: 14px;
        }
        .date {
          &:before {
            content: '\f017';
            font-family: FontAwesome;
            padding-right: 5px;
          }
        }
      }
    }
  }
}