.line-separator {
  background: url('../../assets/images/long-separator.png') no-repeat;
  background-position: center;
  background-size: 300px;
}

.separator {
  height: 50px;
}

.page-header {
  border-bottom: none;
  margin: 25px 0 20px;

  h1 {
    color: $brand-text;
  }
}
