// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #6f7f89;
$brand-light:           #798b96;
$brand-dark:            #5a676f;
$brand-hightlight:      #99b0be;
$white:                 #ffffff;
