.recent-post-slider.design-1 {
  .post-content-left {
    background-color: rgba($brand-light, 0.8);
  }
  .post-content-left {
    margin: 0 0 25px 45px;
    padding: 15px 15px 30px 15px;
  }
  .post-image-bg img {
    max-width: 1200px !important;
  }
  .wp-post-title {
    margin-bottom: 10px !important;
    a:hover {
      color: darken($white, 0.9);
      text-decoration: none !important;
    }
  }
}